.dockerfile__intro{
    text-align: justify;
    font-size: 20px;
    margin-top: 20px;
    color:black;
}

.dockerfile__lab{
    margin-top:50px
}

.dockerfile__form{
    min-height: auto;
    margin-bottom: 40px;
}

.dockerfile__file{
    min-height: auto;
    background-color: #d3d3d37d;
    margin-bottom: 40px;
}

.dockerfile__file-title{
    font-size: 20px;
    padding:10px 0 0 0;
}
.dockerfile__info{
    text-align: justify;
    color:gray;
    font-size: 18px;
}